@model IEnumerable<VictuZWebProject.Models.ActivityViewModel>

@{
    ViewBag.Title = "Events";
}

    <div class="row">
    @foreach (var item in Model)
    {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-5" style="background-color: #f8c7c7; padding: 1rem;">
                            <div class="text-center h-100 d-flex flex-column justify-content-center align-items-center">
                                <img src="@Html.DisplayFor(modelItem => item.Activity.ImageUrl)" alt="Alternate for photo" class="img-fluid" style="max-height: 200px; object-fit: cover;" />
                                <div class="badge bg-dark opacity-25 text-light p-2 mt-3">@Html.DisplayFor(modelItem => item.Activity.DateDue)</div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Activity.Name)</h5>
                                <p><i class="bi bi-clock"></i> 01:30 PM - 04:30 PM</p>
                                <p><i class="bi bi-person"></i> Deelnemers: @Html.DisplayFor(modelItem => item.Activity.Registered) / @Html.DisplayFor(modelItem => item.Activity.MaxCapacity)</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Activity.Body)</p>
                            </div>
                            <a asp-action="Details" asp-route-id="@item.Activity.ActivityId" class="btn btn-primary">Details</a>

                            @if (item.Activity.Registered >= item.Activity.MaxCapacity)
                            {
                                <a class="btn btn-secondary disabled" aria-disabled="true">Full</a>
                            }
                            else if (!User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-secondary disabled" aria-disabled="true">Login to Register</a>
                            }
                            else if (item.IsUserRegistered)
                            {
                                // Show the delete button if the user is registered
                                <form asp-action="Delete" asp-route-id="@item.Activity.ActivityId" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Delete Registration</button>
                                </form>
                            }
                            else
                            {
                                <a asp-action="Register" asp-route-id="@item.Activity.ActivityId" class="btn btn-primary">Register</a>
                            }
                        </div>
                    </div>
                </div>
            </div>

    }
    </div>
   

