@page
@model VictuZWebProject.Pages.Identity.ManageUserRolesModel
@{
    ViewData["Title"] = "Gebruikersrollen beheren";
}

<h1>Gebruikersrollen beheren</h1>

<form method="get">
    <input type="text" name="searchString" placeholder="Zoeken op e-mailadres..." value="@Model.SearchString" />
    <input type="submit" value="Zoek" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>E-mailadres</th>
            <th>Huidige rol</th>
            <th>Actie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userRole in Model.UsersWithRoles)
        {
            <tr>
                <td>@userRole.User.FirstName @userRole.User.LastName</td>
                <td>@userRole.User.Email</td>
                <td>
                    @foreach (var role in userRole.Roles)
                    {
                        @role
                        <br />
                    }
                </td>
                <td>
                    <form method="post" asp-page-handler="EditRole">
                        <input type="hidden" name="userId" value="@userRole.User.Id" />
                        <select name="newRole" required>
                            <option value="Member">Member</option>
                            <option value="Visitor">Visitor</option>
                            <option value="Pending">Pending</option>
                            
                            @if (User.IsInRole("Admin"))
                            {
                                <option value="Admin">Admin</option>
                                <option value="Staff">Staff </option>
                            }
                        </select>
                        <input type="submit" value="Opslaan" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



