@model VictuZWebProject.Models.Store

@{
    ViewData["Title"] = "Delete";
}

<div class="container d-flex justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center mb-4 text-danger">Verwijder Winkel</h2>
                <h4 class="text-center">Weet je zeker dat je dit wilt verwijderen?</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">Naam</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-4">Beschrijving</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                    <dt class="col-sm-4">Grootte</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Size)</dd>

                    <dt class="col-sm-4">Prijs</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

                    <dt class="col-sm-4">Afbeeldings-URL</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ImageUrl)</dd>

                    <dt class="col-sm-4">Categorie</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Category)</dd>

                    <dt class="col-sm-4">Voorraad</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Stock)</dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit" class="btn btn-danger w-45">Verwijder</button>
                        <a asp-action="Index" class="btn btn-secondary w-45">Annuleer</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
