@model VictuZ_Lars.Models.Activity

@{
    ViewData["Title"] = "Verwijder Activiteit";
}

<div class="container d-flex justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center text-danger">Weet je zeker dat je deze activiteit wil verwijderen?</h3>
                <div class="mt-4">
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">Naam</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-3">Beschrijving</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Body)</dd>

                        <dt class="col-sm-3">Locatie</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>

                        <dt class="col-sm-3">Aanmeldingen</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Registered)</dd>

                        <dt class="col-sm-3">Max Capaciteit</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaxCapacity)</dd>

                        <dt class="col-sm-3">Datum gepubliceerd</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.DatePublished)</dd>

                        <dt class="col-sm-3">Datum</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.DateDue)</dd>
                    </dl>

                    <div class="d-flex justify-content-between">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="ActivityId" />
                            <input type="submit" value="Verwijder" class="btn btn-danger" />
                        </form>
                        <a asp-action="Index" class="btn btn-secondary w-45">Annuleer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
